In [5]:
%pylab inline
import pandas as pd
import numpy as np
import scipy as sp
from pandas.io.json import json_normalize
import json
from datetime import date, timedelta
from time import time

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore');

Populating the interactive namespace from numpy and matplotlib

In [124]:
df_raw = pd.read_csv('/Users/bwu/testing/large_data_folder/last_carousel_table_5_rolling.csv')

In [126]:
#Initial cleaning of feature names
df_raw.columns = [col_names.replace('rolling_','') for col_names in df_raw.columns.values]

In [127]:
df_raw.shape[0]

899296

In [128]:
df_raw.head()

,first_visit_num,experiment_visid,experiment_control,experiment_test,visid,visit_num,visit_ux_type,visit_date,visit_hour,visit_geo_country,...,past28d_page_interactions_per_view,past28d_views_section_max,past28d_views_property_max,past28d_visits_ref_max,past28d_visits_camp_max,past28d_views_section_primary,past28d_views_property_primary,past28d_visits_ref_primary,past28d_visits_camp_primary,visit_date_num
0,1,100773303390494114,0,1,100773303390494114,2,Desktop Web,2016-08-21 00:00:00 UTC,12,usa,...,0.25000,1.0,0.0,1.0,1.0,LDP,NaN,Search,Other,1
1,1,1008930168569201832,0,1,1008930168569201832,31,Desktop Web,2016-08-21 00:00:00 UTC,16,usa,...,0.35533,158.0,176.0,10.0,5.0,SRP,Buy,Direct,NaN,1
2,1,1014712710176659876,1,0,1014712710176659876,1,Desktop Web,2016-08-30 00:00:00 UTC,8,usa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1,1014866083519326140,1,0,1014866083519326140,40,Desktop Web,2016-08-22 00:00:00 UTC,4,usa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,10154653262486997040,0,1,10154653262486997040,24,Desktop Web,2016-08-23 00:00:00 UTC,8,usa,...,0.45000,200.0,242.0,8.0,8.0,SRP,Buy,Direct,Other,1

In [129]:
#Desktop only
df_raw = df_raw[df_raw.visit_ux_type=="Desktop Web"]

In [ ]:
# seller = ['visit_nfs_recentlysold_lead', 'current_day_nfs_recentlysold_lead', 'past28d_nfs_recentlysold_lead', 
#           'past7d_nfs_recentlysold_lead','visit_seller_lead', 'current_day_seller_lead', 'past28d_seller_lead', 'past7d_seller_lead',
#             'visit_nfs_offmarket_lead', 'current_day_nfs_offmarket_lead', 
#             'past28d_nfs_offmarket_lead', 'past7d_nfs_offmarket_lead', 
#             'planning_to_sell', 'registered_seller', 'new_survey_seller', ]

In [ ]:
identifiers = ['experiment_control', 'experiment_test', 'visid',]

In [136]:
buyer_leads = ['current_day_lead_buy', 
#          'visit_lead_buy', 
#          'past28d_lead_buy', 
#          'past7d_lead_buy'
        ]

In [ ]:
secondary_features = ['visit_geo_country', 'visit_geo_region', 'visit_campaign_subtype',
                        'past7d_visits_geo_usa', 
                        'past28d_views_pct_section_home', 'past28d_views_pct_section_srp', 
                        'past28d_views_pct_section_ldp', 'past28d_views_pct_section_news', 
                        'past28d_views_pct_section_acct', 'past28d_views_pct_property_sold', 
                        'past28d_views_pct_property_buy', 'past28d_views_pct_property_rent', 
                        'past28d_views_pct_property_sell', 'past28d_visits_pct_geo_usa', 'past28d_visits_pct_ref_direct', 
                        'past28d_visits_pct_ref_search', 'past28d_visits_pct_ref_internal', 
                        'past28d_visits_pct_ref_social', 'past28d_visits_pct_ref_other', 
                        'past28d_visits_pct_camp_paid_search', 'past28d_visits_pct_camp_email', 
                        'past28d_visits_pct_camp_syndication', 'past28d_visits_pct_camp_display', 
                        'past28d_visits_pct_camp_affiliate', 'past28d_visits_pct_camp_social', 
                        'past28d_visits_pct_camp_other', 'past28d_visits_geo_usa', 
                      
                        'ldp_sale_views', 'ldp_rent_views', 'ldp_unknown_views', 'ldp_sale_price_count', 'ldp_rent_price_count', 'geo_count', 
                        'ldp_sale_price_mean', 'ldp_rent_price_mean', 'ldp_sale_price_median', 'ldp_sale_price_sd', 'ldp_sale_price_cv', 
                        'ldp_rent_price_sd', 'ldp_rent_price_cv', 'latitude_mean', 'longitude_mean', 'geo_distance_to_mean_avg', 
                        'zip_med_income_median', 'zip_med_age_median', 'ldp_sale_price_zip_mean_abs_dev_mean', 
                        'ldp_sale_price_zip_zscore_mean', 'distinct_zips', 'distinct_states',
                      
                        'past7d_ldp_rent_price_count', 'past7d_ldp_sale_price_mean', 'past7d_ldp_rent_price_mean', 
                        'past7d_ldp_sale_price_median', 'past7d_ldp_rent_price_median', 'past7d_ldp_sale_price_sd', 'past7d_zip_med_age_median', 
                        'past7d_ldp_sale_price_cv', 'past7d_ldp_rent_price_sd', 'past7d_ldp_rent_price_cv', 'past7d_latitude_mean', 
                        'past7d_longitude_mean', 'past7d_zip_med_income_median', 'past7d_ldp_sale_price_zip_mean_abs_dev_mean', 'past7d_ldp_sale_price_zip_zscore_mean',

                        'past28d_ldp_sale_price_mean', 'past28d_ldp_rent_price_mean', 'past28d_ldp_sale_price_median',
                        'past28d_ldp_rent_price_median', 'past28d_ldp_sale_price_sd', 'past28d_ldp_sale_price_cv', 
                        'past28d_ldp_rent_price_sd', 'past28d_ldp_rent_price_cv', 'past28d_latitude_mean', 
                        'past28d_longitude_mean',  'past28d_zip_med_income_median', 
                        'past28d_zip_med_age_median',
                        'past28d_ldp_sale_price_zip_mean_abs_dev_mean', 'past28d_ldp_sale_price_zip_zscore_mean', 
                        
                        'visit_date_num', 'visit_date', 
                        'visit_views', 'visit_views_ldp_for_sale', 'visit_views_ldp_rent', 
                     ]

In [164]:
df_raw.past7d_views.unique()

array([   nan,   129.,    40., ...,   872.,  1008.,   744.])

In [146]:
primary_features = ['visit_num', 'visit_hour', 'visit_referrer_type', 
                    'visit_campaign_type', 'visit_landing_page_type', 
                                        
                    'past28d_visits_registered', 
                    
                    'past7d_views', 'past7d_page_interactions', 'past7d_visits', 'past7d_active_days', 
                    'past7d_views_section_home', 'past7d_views_section_srp', 'past7d_views_section_ldp', 
                    'past7d_views_section_news', 'past7d_views_section_acct', 'past7d_views_property_sold', 
                    'past7d_views_property_buy', 'past7d_views_property_rent', 'past7d_views_property_sell', 
                    'past7d_visits_ref_direct', 'past7d_visits_ref_search', 'past7d_visits_ref_internal', 
                    'past7d_visits_ref_social', 'past7d_visits_ref_other', 'past7d_visits_camp_paid_search', 
                    'past7d_visits_camp_email', 'past7d_visits_camp_syndication', 'past7d_visits_camp_display', 
                    'past7d_visits_camp_affiliate', 'past7d_visits_camp_social', 'past7d_visits_camp_other', 
                    
                    'past28d_views', 'past28d_page_interactions', 'past28d_visits', 'past28d_active_days', 
                    'past28d_views_section_home', 'past28d_views_section_srp', 'past28d_views_section_ldp', 
                    'past28d_views_section_news', 'past28d_views_section_acct', 'past28d_views_property_sold', 
                    'past28d_views_property_buy', 'past28d_views_property_rent', 'past28d_views_property_sell', 
                    'past28d_visits_ref_direct', 'past28d_visits_ref_search', 
                    'past28d_visits_ref_internal', 'past28d_visits_ref_social', 'past28d_visits_ref_other', 
                    'past28d_visits_camp_paid_search', 'past28d_visits_camp_email', 'past28d_visits_camp_syndication', 
                    'past28d_visits_camp_display', 'past28d_visits_camp_affiliate', 
                    'past28d_visits_camp_social', 'past28d_visits_camp_other',  
                    
                    'past7d_ldp_sale_views', 'past7d_ldp_rent_views', 'past7d_ldp_unknown_views', 
                    'past7d_ldp_sale_price_count', 'past7d_distinct_zips', 'past7d_distinct_states', 
                    
                    'past28d_ldp_sale_views', 'past28d_ldp_rent_views', 'past28d_ldp_unknown_views', 
                    'past28d_ldp_sale_price_count', 'past28d_ldp_rent_price_count', 
                    'past28d_distinct_zips', 'past28d_distinct_states', 
                                                            
                    'past7d28d_views_ratio', 'past7d_visits_per_active_day', 
                    'past7d_views_per_active_day', 'past7d_views_per_visit', 'past7d_page_interactions_per_view', 
                    
                    'past28d_visits_per_active_day', 'past28d_views_per_active_day', 'past28d_views_per_visit', 
                    'past28d_page_interactions_per_view', 'past28d_views_section_max', 'past28d_views_property_max', 
                    'past28d_visits_ref_max', 'past28d_visits_camp_max', 'past28d_views_section_primary', 
                    'past28d_views_property_primary', 'past28d_visits_ref_primary', 'past28d_visits_camp_primary', 
                   ]

In [38]:
#Find numerics
df_raw.select_dtypes(include=[np.number])

,first_visit_num,experiment_control,experiment_test,visit_num,visit_hour,visit_views,visit_views_ldp_for_sale,visit_views_ldp_rent,past28d_visits_registered,past7d_views,...,past7d_page_interactions_per_view,past28d_visits_per_active_day,past28d_views_per_active_day,past28d_views_per_visit,past28d_page_interactions_per_view,past28d_views_section_max,past28d_views_property_max,past28d_visits_ref_max,past28d_visits_camp_max,visit_date_num
0,1,0,1,2,12,110,12,0,1.0,NaN,...,NaN,1.000000,4.000000,4.000000,0.250000,1.0,0.0,1.0,1.0,1
1,1,0,1,31,16,40,1,0,5.0,129.0,...,0.271318,1.428571,28.142857,19.700000,0.355330,158.0,176.0,10.0,5.0,1
2,1,1,0,1,8,7,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1,1,0,40,4,12,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,0,1,24,8,8,2,0,2.0,40.0,...,0.850000,1.142857,37.142857,32.500000,0.450000,200.0,242.0,8.0,8.0,1
5,1,0,1,1,9,1,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6,1,1,0,1,17,26,5,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7,1,0,1,1,12,2,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8,1,1,0,11,3,7,1,0,0.0,NaN,...,NaN,1.666667,12.666667,7.600000,0.289474,22.0,35.0,3.0,5.0,1
9,1,1,0,29,6,28,11,0,0.0,11.0,...,0.636364,1.700000,67.300000,39.588235,0.190193,403.0,638.0,16.0,17.0,1
10,1,1,0,7,13,1,1,0,0.0,3.0,...,0.000000,1.000000,3.000000,3.000000,0.000000,2.0,3.0,1.0,1.0,1
11,1,0,1,2,9,6,3,0,0.0,2.0,...,0.000000,1.000000,2.000000,2.000000,0.000000,2.0,0.0,1.0,1.0,1
12,1,0,1,10,10,1,1,0,0.0,NaN,...,NaN,1.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,1.0,1
13,1,1,0,73,7,1,1,0,0.0,NaN,...,NaN,2.333333,74.333333,31.857143,0.322870,166.0,219.0,4.0,7.0,1
14,1,1,0,6,13,9,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,1,1,0,14,6,26,8,0,0.0,NaN,...,NaN,1.000000,8.500000,8.500000,0.294118,7.0,10.0,2.0,2.0,1
16,1,1,0,1,14,9,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17,1,1,0,1,8,2,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
18,1,1,0,63,12,29,6,0,16.0,NaN,...,NaN,1.600000,60.700000,37.937500,0.283361,378.0,587.0,15.0,16.0,1
19,1,0,1,1,13,24,6,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
20,1,1,0,1,14,7,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
21,1,0,1,107,6,1,0,0,1.0,14.0,...,0.285714,1.750000,45.125000,25.785714,0.132964,208.0,314.0,12.0,14.0,1
22,1,0,1,1,8,24,10,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23,1,1,0,1,9,2,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24,1,1,0,26,9,2,0,0,0.0,NaN,...,NaN,1.000000,8.000000,8.000000,0.343750,19.0,21.0,3.0,3.0,1
25,1,1,0,12,10,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
26,1,0,1,34,11,13,5,0,2.0,20.0,...,0.400000,1.416667,31.083333,21.941176,0.203753,243.0,346.0,10.0,17.0,1
27,1,0,1,1,10,12,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
28,1,1,0,1,22,7,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
29,1,1,0,1,15,2,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899266,1,0,1,9,11,20,4,0,0.0,10.0,...,0.100000,1.000000,20.000000,20.000000,0.175000,35.0,29.0,1.0,2.0,1
899267,1,1,0,12,8,9,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899268,1,1,0,70,8,4,2,0,2.0,125.0,...,0.080000,1.458333,12.125000,8.314286,0.096220,195.0,289.0,35.0,35.0,1
899269,1,1,0,1,7,4,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899270,1,1,0,721,21,37,11,0,5.0,150.0,...,0.486667,2.826087,58.521739,20.707692,0.587667,814.0,1172.0,64.0,65.0,1
899271,1,0,1,4,9,3,1,0,0.0,NaN,...,NaN,1.000000,1.000000,1.000000,0.000000,2.0,0.0,2.0,2.0,1
899272,1,0,1,1,19,2,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899273,1,0,1,17,18,1,1,0,0.0,NaN,...,NaN,1.750000,9.750000,5.571429,0.358974,15.0,23.0,6.0,7.0,1
899274,1,0,1,1,8,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899275,1,1,0,1,8,4,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899276,1,0,1,6,22,14,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899277,1,0,1,2,14,24,10,0,0.0,NaN,...,NaN,1.000000,16.000000,16.000000,0.375000,9.0,13.0,1.0,1.0,1
899278,1,0,1,8,11,13,7,0,0.0,NaN,...,NaN,1.000000,34.500000,34.500000,0.347826,44.0,68.0,2.0,2.0,1
899279,1,1,0,5,8,5,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899280,1,1,0,14,6,2,1,0,2.0,NaN,...,NaN,1.222222,5.333333,4.363636,0.062500,28.0,44.0,9.0,10.0,1
899281,1,0,1,2,14,30,9,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899282,1,1,0,1,14,22,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899283,1,0,1,1,5,4,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899284,1,1,0,1,15,1,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899285,1,0,1,1,17,2,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899286,1,0,1,4,7,78,23,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899287,1,1,0,3,16,18,4,0,1.0,18.0,...,0.277778,1.000000,45.000000,45.000000,0.344444,58.0,84.0,2.0,2.0,1
899288,1,1,0,1,9,1,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899289,1,0,1,1,19,1,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899290,1,1,0,1,8,3,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899291,1,0,1,4,18,142,49,0,0.0,NaN,...,NaN,1.000000,37.000000,37.000000,0.189189,26.0,36.0,1.0,1.0,1
899292,1,0,1,3,7,3,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899293,1,1,0,1,4,6,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899294,1,1,0,1,14,1,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899295,1,0,1,1,6,47,10,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1